* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  height: 300px;
  width: 900px;
  background-color: blueviolet;
}

.container {
  height: 300px;
  width: 1150px;
  background-color: crimson;
}

@media (max-width: 1150px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .box {
    width: 500px;
  }

  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .box {
    width: 300px;
  }

  .container {
    width: 300px;
  }
}

/* Media Queries */
/* Bigger Monitors - greater than 1600px */
/* Large Sized Laptop Screen - 1400px - 1600px */
/* Medium Sized Laptop Screen - 1200px - 1400px */
/* Small Sized Laptop Screen - 992px - 1200px */
/* Large Tablets - 768px - 992px */
/* Small & Medium Tablets - 576px - 768px */
/* Large Screen Mobile - 400px - 576px*/
/* Medium & Small Screen Mobile - 320px - 400px*/
